data/
**/root/data/
**/*.fasta
**/*.fa
**/*.fna
**/*.vcf
**/*.vcf.gz
**/*.gz
**/*.zip

# Caches
**/__pycache__/
**/*.pyc
.ipynb_checkpoints/
.cache/
**/.cache/
**/huggingface/
**/.huggingface/

# Experiment outputs
outputs/
runs/
checkpoints/
logs/
wandb/
lightning_logs/

# Environment / OS
.env
.venv/
*.conda
*.egg-info/
.DS_Store